build
test-local
ui-build
ui-prototype-one
ui-fe
**/node_modules
**/*.swp
**/*.swo
*.log
junk
*~
configurations/secrets
configurations/local-overrides.json
utilities/node/etc
sandbox
test/data/*
test/results/*
test/regression.mjs
.DS_Store
.idea/

